@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border;
  font-size: 14px;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8f8;
}